@import '../../../scss/colors.scss';

.btn {
    background-color: $primaryBlue;
    padding: 8px 12px;
    border-radius: 8px;
}

.dataTable {
    width: 100%;
    border-collapse: collapse;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;

}

.dataTable th, .dataTable td {
    padding: 24px;
    text-align: left;
    @media (max-width: 992px) {
        padding: 24px 10px;
        min-width: 230px;
  }
}

.dataTable th {
    background-color: #171C25!important;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    color: #4B4F5B;
}

.tableRow {
    &:nth-child(odd) {
        background-color: #0D1019;
        border-radius: 8px!important;
    }
    td:last-child {
        text-align: right;
    }
}